#titel{
  
}
#button{
    background-color: beige;
}
#skincolour1{
    background-color: #fff8e7;
}
#skincolour2{
    background-color: #ffe6bc;
}
#skincolour3{
    background-color: #fbd4a1;
}
#skincolour4{
    background-color: #d9ac63;
}
#skincolour5{
    background-color: #825a21;
}
#skincolour6{
    background-color: #614111;
}